<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Hubballi&display=swap" rel="stylesheet">
    <title>Satış Sayfası</title>
</head>
<body>
    <header>
        <h1>ShopCheck</h1><br><br>
        <a href="/" class="button">Müşteri Sayfası </a>
        <a href="/product" class="button">Ürünler Sayfası</a>
        <a href="/sales" class="button">Satışlar Sayfası</a>
    </header><br>
    <article>
        <label class="input-container">
            <h4>Ürün Ekleme</h4><hr>
            <div class="input">
                <select name="" id="urunSec">
                    <option value="">Ürün Seçiniz</option>
                </select>
                <select name="" id="taksitSec">
                    <option value="">Taksit Seçeneği Seçiniz</option>
                </select>
                <input type="date" id="salesDate" style="width: 75%; height: 15px; margin-top: 10px;">
                
                <button type="button" id="addButton">Ekle</button>
            </div>
        </label>
        <label class="list-container">
            <h4>Satış Listesi</h4><hr>
            <table class="list">
                
            </table>
        </label>
    </article>
    <script src="~/js/scriptsales.js"></script>
</body>
</html>
